
main {
  background-color: rgb(var(--v-theme-background))
}

/* Utils */
.bg-animated {
  transition: background .8s cubic-bezier(.11,.61,.83,.67) !important;
}

.el-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Text */
.el-text-bold {
  font-weight: 600 !important;
}